.testimonials {
    margin: 80px auto;
    padding: 0 80px;
    position: relative;
}
.next_btn, .back_btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 15px;
    font-size: 50px;
    border-radius: 50%;
    cursor: pointer;
    width: 100px;
    
}
.back_btn {
    right: auto;
    left: 0;
}
.userinfo img {
    width: 170px;
}
.slider {
    overflow: hidden;
}
.slider ul {
    display: flex;
    width: 200%;
    overflow-x: hidden;
    transition: 0.5s;
}
.slider ul li {
    list-style: none;
    width: 50%;
    padding: 20px;
}
.slide {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 40px;
    line-height: 1.4;
    color: #676767;

}
.slide img {
    width: 65px;
    border-radius: 50%;
    margin-right: 10px;
    border: 4px solid #212ea0;
}
.userinfo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 15px;
}
.userinfo h2 {
    color: #212ea0;
}

/* ----- media query ----- */

@media (max-width:800px) {
    .testimonials {
        padding: 0 40px;
    }
    .next_btn, .back_btn {
        padding: 10px;
        width: 35px;
    }
    .testimonials ul li {
        padding: 10px;
    }
    .slider {
        padding: 10px;
    }
    .slider img {
        width: 35px;
        border: 2px solid #212ea0;
    }
}

@media (max-width: 600px) {
    .userinfo {
        display: block;
        margin-bottom: 10px;
        font-size: 12px;
    }
    .userinfo h2{
        font-size: 10px;
    }
    .slider p {
        font-size: 10px;
    }
}
